@use "../abstracts/colors";

.rain {
  background-color: colors.$background-color;
  background-image: url("../img/rain.avif");
}

.snow {
  background-color: colors.$background-color;
  background-image: url("../img/snow.avif");
}

.night {
  background-color: colors.$highlight-color;
  background-image: url("../img/night1.avif");
}

.fog {
  background-color: colors.$fog-color;
  background-image: url("../img/fog.avif");
}

.clouds {
  background-color: colors.$fog-color;
  background-image: url("../img/clouds.jpg");
}
